
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>门牌匹配工具</title>
		<link rel="stylesheet" href="http://192.168.2.112/OpenLayers-2.13/theme/default/style.css" >
		<link rel="stylesheet" href="js/css/cf.css" >
		
		
		<script src="http://192.168.2.112/OpenLayers-2.13/OpenLayers.js"></script>
		<script src="http://192.168.2.112/ext-4.2.1/examples/shared/include-ext.js"></script>
		<script src="http://192.168.2.112/ext-4.2.1/examples/shared/options-toolbar.js"></script>
		<script src="js/openlayersTiandi.js"></script>
		<script src="js/app.js"></script>
		<script src="js/commonfun.js"></script>
		
		
	</head>
	<body>
			</body>
</html>
